#Eclipse
.project
.pydevproject
.settings/

#coverage.py
.coverage
htmlcov

*.pyc

#virtualfish
.venv

#development documentation, notes, etc.
.doc

logs

# Distribution / packaging
dist/
*.egg-info/
