@import 'https://fonts.googleapis.com/css?family=Open+Sans';

/** Layout **/

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100%;
    padding: 0;
}

header, footer {
    padding: 0.2em 0;
}

#content {
    flex: 1;
    margin: 0 auto;
    padding: 0.5em 0 0.2em 0;
    width: 95%;
}

h1, form, small {
    display: block;
    text-align: center;
}

input, .g-recaptcha div {
    margin: 0 auto 0.5em;
}

input[type="text"] {
    width: calc(100% - 10px);
}

input[type="submit"] {
    height: 5em;
    width: 20em;
}

.flashes {
    margin: 0;
    padding: 0;
}

.warning, .error, .success {
    margin-bottom: 0.5em;
    padding: 0.5em;
}

/** Theme **/

body {
    font-family: 'Open Sans', sans-serif;
}