<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>URL shortener</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <header><h1>URL shortener</h1></header>
    <div id="content">{% block content %}{% endblock %}</div>
    <footer><small>Copyright © {{ year }} Piotr Rusin</small></footer>
</body>
</html>